<div class="m-24">
    <nz-table #basicTable [nzData]="listOfData">
        <thead>
          <tr>
            <th>Title</th>
            <th>Date Posted</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.title }}</td>
            <td>{{ data.date | date: 'longDate'}}</td>
            <td>
              <a>Action 一 {{ data.id }}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
</div>