<div class="wrapper">
    <button nz-button nzType="primary" (click)="toggleCollapsed()">
      <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </button>
    <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Posts" nzIcon="user">
        <ul>
          <li nz-menu-item 
            routerLinkActive
            #rla="routerLinkActive" 
            [nzSelected]="rla.isActive"
            [routerLinkActiveOptions]="{exact: true}"
            [routerLink]="['posts']" >View Posts</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Users" nzIcon="user">
        <ul>
          <li nz-menu-item [routerLink]="['users']" 
            routerLinkActive
            #rla="routerLinkActive" 
            [nzSelected]="rla.isActive"
            [routerLinkActiveOptions]="{exact: true}">Register User</li>
        </ul>
      </li>
    </ul>
  </div>