<!-- using tailwind css -->
<figure class="w-full h-full">
  <section class="min-h-50vh h-auto w-full flex flex-wrap">
    <article class="feature w-full sm:w-6/12  bg-sky-300 p-6" >
        <h3 class="text-4xl  text-white mb-14">HAVEN</h3>
        <h2 class="text-5xl  text-white" >Lorim impsum dolor sit amet</h2>
        <h6 class="text-3xl  text-white">consectetur adipiscing elit. Donec luctus diam a lectus lacinia, vitae facilisis tortor laoreet.  </h6>
    </article>
    <article class="news-blog w-full sm:w-6/12  bg-slate-50 p-11" >
      <div class="text-sky-300 text-2xl text-300 font-extralight 
        pb-3
        border-solid 
        border-slate-400 
        border-t-0
        border-l-0
        border-r-0
        border-b-2 
        mt-11">News & Blog</div>
      <div class="mt-11">
        <div class="flex justify-between mb-4">
          <span class="w-9/12 mr-7 truncate"> KiwiSaver HomeStart grand explained </span>
          <span class="w-3/12 flex justify-end"><fa-icon [icon]="faPlay" [classes]="['text-slate-300', 'mr-7']"></fa-icon></span>
        </div>
        
        <div class="flex justify-between mb-4">
          <span class="w-9/12 mr-7 truncate"> What's happening in the property market?</span>
          <span class="w-3/12 flex justify-end"><fa-icon [icon]="faPlay" [classes]="['text-slate-300', 'mr-7']"></fa-icon></span>
        </div>
        <div class="flex justify-between mb-4">
          <span class="w-9/12 mr-7 truncate"> Trust law reform </span>
          <span class="w-3/12 flex justify-end"><fa-icon [icon]="faPlay" [classes]="['text-slate-300', 'mr-7']"></fa-icon></span>
        </div>
        <div class="flex justify-between mb-4">
          <span class="w-9/12 mr-7 truncate"> Tax updates - Simplification of taxes, foreign investments</span>
          <span class="w-3/12 flex justify-end"><fa-icon [icon]="faPlay" [classes]="['text-slate-300', 'mr-7']"></fa-icon></span>
        </div>
        <div class="flex justify-between mb-4">
          <span class="w-9/12 mr-7 truncate"> KiwiSaver HomeStart grand explained </span>
          <span class="w-3/12 flex justify-end"><fa-icon [icon]="faPlay" [classes]="['text-slate-300', 'mr-7']"></fa-icon></span>
        </div>
        <div class="flex justify-between mb-4">
          <span class="w-9/12 mr-7 truncate"> KiwiSaver HomeStart grand explained </span>
          <span class="w-3/12 flex justify-end"><fa-icon [icon]="faPlay" [classes]="['text-slate-300', 'mr-7']"></fa-icon></span>
        </div>

      </div>
    </article>
  </section>
  <section class="bg-white">
    <nav>
      <ul>
        <li><a href="#">Book keeping & payroll</a></li>
        <li><a href="#">Financial & GST</a></li>
        <li><a href="#">KiwiSaver advice</a></li>
        <li><a href="#">Insuring people</a></li>
        <li><a href="#">Tax & business advice</a></li>
        <li><a href="#">Trustee services</a></li>
        <li><a href="#">Mortage advice</a></li>
      </ul>
    </nav>
  </section>
  <section class="feature-video-area w-full flex flex-wrap">
    <article class="w-full sm:w-3/4 bg-white feature-video-cover"></article>
    <article class="w-full sm:w-1/4 h bg-sky-300 p-6 feature-video-action"></article>
  </section>
</figure>

<!-- using tailwind css -->
